<div class="row">
    <div class="col-lg-4">
        <h2>
            <p class="text-primary text-center">{{project.Name}}</p>
        </h2>
        <div class="btn-group btn-group-justified">
            <a ng-if="project.Lead.Id === user().Id || user().isAdmin" href="#/projects/{{project.Id}}/edit" class="btn btn-default">Edit</a>
        </div>
        <hr/>
        <p>
            <span class="text-primary"><strong>Key: </strong></span>
            <span class="pull-right test-actual">{{project.ProjectKey}}</span>
        </p>
        <p>
            <span class="text-primary"><strong>Leader: </strong></span>
            <span class="pull-right text-info">{{project.Lead.Username}}</span>
        </p>
        <div class="well">
            <p class="text-primary">
                {{project.Description}}
            </p>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Labels</h3>
            </div>
            <div class="panel-body">
                <span ng-repeat="label in project.Labels" class="label label-primary">{{label.Name}}</span>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Priorities</h3>
            </div>
            <div class="panel-body">
                <span ng-repeat="priority in project.priorities" class="label label-warning">{{priority.Name}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <h3>
            <p class="text-primary text-center">Issues</p>
        </h3>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Due Date</th>
                    <th>Assignee</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="issue in project.issues">
                    <td>{{$index+1}}</td>
                    <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td>{{issue.DueDate}}</td>
                    <td>{{issue.Assignee.Username}}</td>
                    <td>{{issue.Description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

