<div class="col-lg-5">
    <form name="changePasswordForm" ng-submit="changePassword()" class="form-horizontal" >
        <fieldset>
            <legend>Change Password</legend>
            <div class="form-group">
                <label for="oldPassword" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input ng-model="oldPassword" class="form-control" id="oldPassword" placeholder="Old Password" type="password">
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-lg-2 control-label">New Password</label>
                <div class="col-lg-10">
                    <input ng-model="newPassword" class="form-control" id="newPassword" placeholder="New Password" type="password">
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-lg-2 control-label">New Password</label>
                <div class="col-lg-10">
                    <input ng-model="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" type="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>