<div class="container">
    <footer>
        <div class="row">
            <div class="col-lg-10">
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#{{currentPath}}#top">Back to top</a></li>
                    <li><a href="https://github.com/kostadinov92/AngularSPA-IssueTracker">GitHub</a></li>
                    <li><a href="http://softuni-issue-tracker.azurewebsites.net/Help">API</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>