<div class="row">
    
    <div ng-if="isAdmin()" class="col-lg-1">
        <div admin-navbar="" />
    </div>
    
    <div class="col-lg-10">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues">
                <td>{{$index + 1}}</td>
                <td>{{issue.Title}}</td>
                <td>{{issue.Description}}</td>
                <td>{{issue.Project.Name}}</td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
        
        <div class="text-center" paginator="" totalPages="3" />
    </div>
</div>