<div class="row">
    <div class="col-lg-5">
        <h2>
            <p class="text-primary text-center">{{issue.Title}}</p>
        </h2>
        <div class="btn-group btn-group-justified">
            <a ng-if="issue.Project.Lead.Id === user().Id" href="#/issues/{{issue.Id}}/edit" class="btn btn-default">Edit</a>
        </div>
        <hr/>
        <p>
            <span class="text-primary"><strong>Key: </strong></span>
            <span class="pull-right test-actual">{{issue.IssueKey}}</span>
        </p>
        <hr />
        <p>
            <span class="text-primary"><strong>Project: </strong></span>
            <a href="#/projects/{{issue.Project.Id}}"><span class="pull-right test-actual">{{issue.Project.Name}}</span></a>
        </p>
        <p>
            <span class="text-primary"><strong>Author: </strong></span>
            <span class="pull-right text-info">{{issue.Author.Username}}</span>
        </p>
        <p>
            <span class="text-primary"><strong>Assignee: </strong></span>
            <span class="pull-right text-info">{{issue.Assignee.Username}}</span>
        </p>
        <hr />
        <p>
            <span class="text-primary"><strong>Priority: </strong></span>
            <span class="pull-right text-info">{{issue.Priority.Name}}</span>
        </p>
        <p>
            <span class="text-primary"><strong>Due Date: </strong></span>
            <span class="pull-right text-info">{{issue.DueDate}}</span>
        </p>
        <div class="well">
            <p class="text-primary">
                {{issue.Description}}
            </p>
        </div>
        <hr />
        <p>
            <span class="text-primary"><strong>Status: </strong></span>
            <span class="pull-right text-info">{{issue.Status.Name}}</span>
        </p>
        <p ng-if='issue.Status.Name !== "Closed"' class="text-center text-primary"><strong>Change status</strong></p>
        <div ng-if="issue.Assignee.Id === user().Id" class="btn-group btn-group-justified">
            <a ng-repeat="status in issue.AvailableStatuses" ng-click="changeStatus(status.Id)" href="" class="btn btn-success">{{status.Name}}</a>
        </div>
        <hr />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Labels</h3>
            </div>
            <div class="panel-body">
                <span ng-repeat="label in issue.Labels" class="label label-primary">{{label.Name}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-1">
        <div>
            <h3 class="text-primary text-center">Comments</h3>
            <hr />
            <form ng-if="isUserRelated" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputAddComment" class="col-lg-2 control-label">Add Comment</label>
                        <div class="col-lg-10">
                            <textarea ng-model="inputAddComment.Text" class="form-control" rows="2" id="inputAddComment"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Clear</button>
                            <button ng-click="addComment()" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <hr />
            <div class="list-group">
                <blockquote ng-if="!issue.comments">
                    <p>There are no Comments.</p>
                </blockquote>
                <blockquote  ng-if="issue.comments" ng-repeat="comment in issue.comments">
                    <p>{{comment.Text}}</p>
                    <small>{{comment.Author.Username}} <p class="pull-right"><small>{{comment.CreatedOn}}</small></p></small>
                </blockquote>
            </div>
        </div>
    </div>
</div>

